ctransformers==0.2.5
flask
pypdf
python-dotenv
openai
numpy =1.26.4  # Updated to avoid conflict
pinecone
langchain==0.3.23
langchain-pinecone==0.2.5
langchain-community==0.3.21
langchain-openai==0.3.14
langchain-experimental==0.3.4
daal==2021.4.0
-e .
